body {
  background-color: #111617;
  font-family: tahoma!important;
}

.header-container {
  height: 60px;
  background-color: #0e2d31;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  color: white;
}

.searchbar-container {
  background-color: #434343;
  top: 0;
  left: 0;
  display: flex;
  width: 30%;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

.searchbar {
  flex: 1 1;
  margin: 0 5px;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #d9d9d9;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  font-size: 16px;
}

.main-page {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: -30px;
  justify-content: center;
  margin-bottom: 15px;
}

.main-container {
  width: 60%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-option-column {
  background-color: white;
  width: 29%;
  height: 100%;
}

.main-content-container {
  /* background-color: aquamarine; */
  width: 70%;
  height: 100%;
  display: block;
  
}

.promos-character-banner {
  width: 95%;
  height: 170px;
  background-image: linear-gradient(315deg, #3b816d 0%, #000000 80%);
  border-radius: 15px;

  > .promos-character-banner--a {
    width: 100%;
    height: 100%;
    display: flex;
   

    /* justify-content: center; */

    > .promos-character-img {
      width: 26%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      > .promos-character-img--img {
        width: 65%;
        height: 70%;
        border-radius: 48%;
      }
    }
  }
}

.promos-character-info {
  height: 100%;
  width: 30%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.promos-character-name {
  width: 100%;
  color: white;
  font-size: 20px;
}

.promos-character-movie {
  color: grey;
  width: 100%;
}

.promos-character-personality {
  color: sandybrown;
  width: 100%;
}

.category-container{
  width: 100%;
  
}









/* TEST */
.question p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.options label {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
}

.selected-options {
  margin-top: 20px;
}

.next-button {
  /* display: none; */
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* .input-page {
  display: none;
  text-align: center;
}

.input-page input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  margin-top: 10px;
}

.input-page button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
} */

.welcome-page, .question-page, .input-question {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .welcome-content {
    text-align: center;
    color: white;
    > h1 {
      color: white;
      margin-bottom: 20px; 
    }
  }
 .btn-info{
  height: 50px;
  width: 100px;
  border-radius: 20px;
  border: none !important;
  }
}

.question-page{
  .question-content{
    text-align: center;
    color: white;
    > h2 {
      color: white;
      margin-bottom: 20px; 
    }
    > div > div > ul{
      list-style-type: none;
    }
    .btn-info{
      height: 50px;
      width: 150px;
      border-radius: 20px;
      border: none !important;
      cursor: pointer;
    }

    .btn-info:disabled{
      height: 50px;
      width: 150px;
      border-radius: 20px;
      border: none !important;
      background-color: gray;
      cursor: default;
    }
  }

}

.columns {
  display: flex;
  gap: 20px; 
}

.column {
  flex: 1; 
}

/* .custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
} */

.custom-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border: 2px solid lightseagreen;
  border-radius: 10px;
  cursor: pointer;
  /* display: flex; */
  /* align-items: center; 
  white-space: nowrap; */
  
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s;
}

.custom-checkbox input:checked + .checkmark {
  opacity: 1;
}


.input-question-content{
  text-align: center;
  color: white;
    > h2 {
      color: white;
      margin-bottom: 20px; 
    }

    > input{
      margin-right: 10px;
    }

    > button {

    }
}

.Input-question-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s;
  outline: none;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Input-question-input::placeholder {
  color: #999; /* Màu chữ cho placeholder */
}

/* Khi focus vào trường input */
.Input-question-input:focus {
  border-color: gray; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-profile-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.input-profile{
  border: 1px solid white;
  height: 150px;
  width: 130px;
}

.home-container {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.character-details-container{
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Characters-container-title{
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding-left: 20%;
}

.characters-container {
  width: 100%;
  height: 360px;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  Gap: 30px;
}

.character-profile {
  height: 260px;
  width: 206px;
  color: #000000;
  font-size: medium;
  font-weight: 700;
  border: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 20px;
  }
}

.character-detail-container{
  width: 37.5%;
  height: 500px;
  background-color: darkcyan;
}